# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/web/generated_plugin_registrant.dart

# Platform-specific ephemeral builds
**/doc/api/
**/ios/Flutter/.last_build_id
/macos/Flutter/ephemeral/
/windows/Flutter/ephemeral/
/linux/flutter/ephemeral/

# Firebase
.firebase/

# Obfuscation & symbolication
app.*.map.json
app.*.symbols

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Local packages
/package
